@page "/checkout"
@rendermode InteractiveServer

<PageTitle>Checkout</PageTitle>

<div class="main">
    <h1>Checkout</h1>
    @if (cart.CartPuzzles.Count() > 0)
    {
        <div class="cart-container">
            @foreach (var item in cart.CartPuzzles)
            {
                <div class="cart-card">
                    <img src="@item.ImageUrl" width="150px" class="cart-card-img" />
                    <div class="cart-card-info">
                        <p class="cart-card-name">@item.Name</p>
                        <div class="cart-card-price">
                            <p>@item.GetFormattedBasePrice()</p>
                            <p>Qty: @item.Quantity</p>
                        </div>
                    </div>
                </div>
            }
            <h2 class="cart-total">Total: @cart.GetFormattedTotal()</h2>

            <button class="cart-checkout" @onclick="() => {
                    cart.CartPuzzles = []; 
                    PlaceOrder();
                }">Place order</button>
        </div>
    }
    else
    {
        <p>There are not items in your cart.</p>
    }
</div>

@code {
    @inject CartState CartState;

    @inject NavigationManager NavManager

    @using Puzzles.Services;

    Cart cart => CartState.Cart;

    void PlaceOrder()
    {
        NavManager.NavigateTo("/order-confirm");
    }
}