@page "/"
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

<div class="main">
  <div class="seach-section">
    <div class="search-area">
      <input class="search-input" type="text" @bind="searchTerm" placeholder="Search for puzzles" />
      <button class="btn btn-primary" @onclick="Search">Search</button>
    </div>
    <div class="seach-sliders">
      <div>
        <label>Min price: @minPrice</label>
        <input type="range" @bind="minPrice" @bind:event="oninput" min="0" max="30" step="1" />
      </div>
      <div>
        <label>Max price: @maxPrice</label>
        <input type="range" @bind="maxPrice" @bind:event="oninput" min="0" max="30" step="1" />
      </div>
    </div>
  </div>

  <ul class="puzzle-cards">
    @if (filteredPuzzles != null)
    {
      @foreach (var puzzle in filteredPuzzles)
      {
        <li>
          <img class="puzzel-pic" width="200px" src="@puzzle.ImageUrl" alt="Puzzle Image" />
          <div class="puzzle-info">
            <p class="title">@puzzle.Name</p>
            <p class="puzzel-desc">@puzzle.Description</p>
            <p class="price">@puzzle.GetFormattedBasePrice()</p> 
          </div>
          <div class="puzzel-btn-row">
            <button class="btn btn-primary" @onclick="() => CartState.AddToCart(puzzle)">Add to cart</button>
            @if (WishlistState.InWishlist(puzzle))
            {
              <button class="btn btn-wishlist-remove" @onclick="() => WishlistState.RemoveFromWishlist(puzzle)">
                <svg width="15" height="24" viewBox="0 0 69 117" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M8.99536 62C30.9907 84 64 117 64 117L69 90L53 75L69 52L53 32L64 12C64 12 53.7355 -9.69335e-06 37 0C16.5655 1.18359e-05 8.31068e-05 16.5655 0 37C-3.86359e-05 46.5 3.99078 56.9944 8.99536 62Z"
                    fill="white" />
                </svg>

                <svg width="15" height="24" viewBox="0 0 75 117" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M66 62C45.0075 83.0121 11 117 11 117L16 90L0 75L16 52L0 32L11 12C11 12 20.4954 0 38 0C58.4346 0 75 16.5655 75 37C75 46.5 70.9954 57 66 62Z"
                    fill="white" />
                </svg>
              </button>
            }
            else
            {
              <button class="btn btn-wishlist" @onclick="() => WishlistState.AddToWishlist(puzzle)">
                <svg width="30" height="24" viewBox="0 0 134 117" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M122.005 62C101.012 83.0121 67.0047 117 67.0047 117C67.0047 117 33.9954 84 12 62C6.99542 56.9944 3.0046 46.5 3.00464 37C3.00472 16.5655 19.5701 1.18359e-05 40.0046 0C56.7401 -9.69335e-06 67.0046 12 67.0046 12C67.0046 12 76.5 0 94.0047 0C114.439 0 131.005 16.5655 131.005 37C131.005 46.5 127 57 122.005 62Z"
                    fill="white" />
                </svg>
              </button>
            }
          </div>

        </li>
      }
    }

  </ul>
</div>


@code {
  @inject CartState CartState;

  @inject WishlistState WishlistState;

  @using Puzzles.Services;
  @using Puzzles.Data;

  List<PuzzleList> puzzles = new();
  List<PuzzleList> filteredPuzzles = new();
  string searchTerm = "";
  decimal minPrice = 0;
  decimal maxPrice = 30;

  Cart cart => CartState.Cart;

  Puzzles.Wishlist wishlist => WishlistState.Wishlist;

  protected override void OnInitialized()
  {
    puzzles.AddRange(PuzzleData.GetPuzzles());
    filteredPuzzles = puzzles;
  }

  void Search()
  {
    filteredPuzzles = puzzles.Where(p => p.Name!.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) && p.BasePrice >=
    minPrice && p.BasePrice <= maxPrice).ToList();
  }
}