@page "/cart"
@rendermode InteractiveServer

<PageTitle>Cart</PageTitle>

<div class="main">
    <h1>Cart</h1>
    @if (cart.CartPuzzles.Count() > 0)
    {
        <div class="puzzle-cards">
            @foreach (var item in cart.CartPuzzles)
            {
                <div>
                    <img src="@item.ImageUrl" width="200px" />
                    <p style="font-size: 18px;">@item.Name</p>
                    <p>@item.GetFormattedBasePrice()</p>
                    <p>Qty: @item.Quantity</p>
                    <button class="btn-cart-remove" @onclick="() => CartState.RemoveFromCart(item.Id)">X</button>
                </div>
            }
        </div>
        <h2>Total: @cart.GetFormattedTotal()</h2>
    }
    else
    {
        <p>There are not items in your cart.</p>
    }
</div>

@code {
    @inject CartState CartState;

    @using Puzzles.Services;

    Cart cart => CartState.Cart;
}